@font-face {
  font-family: "iconfont"; /* Project id 2541699 */
  src: url('iconfont.woff2?t=1620884195944') format('woff2'),
       url('iconfont.woff?t=1620884195944') format('woff'),
       url('iconfont.ttf?t=1620884195944') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dengguang:before {
  content: "\e622";
}

.icon-dianjizhuansu:before {
  content: "\e797";
}

.icon-yanjizhushou-shangchuan_julichuanganqi:before {
  content: "\e62d";
}

.icon-suoyourenyuan:before {
  content: "\e647";
}

.icon-guangzhao:before {
  content: "\e606";
}

.icon-yanwubaojing:before {
  content: "\e66f";
}

.icon-wendu:before {
  content: "\e788";
}

.icon-data:before {
  content: "\e624";
}

.icon-home:before {
  content: "\e621";
}

.icon-github:before {
  content: "\e811";
}

.icon-shuju:before {
  content: "\e711";
}

.icon-shuju1:before {
  content: "\e6e1";
}

